set $black            {{ color0 }}
set $brightblack      {{ color8 }}
set $red              {{ color1 }}
set $brightred        {{ color9 }}
set $green            {{ color2 }}
set $brightgreen      {{ color10 }}
set $yellow           {{ color3 }}
set $brightyellow     {{ color11 }}
set $blue             {{ color4 }}
set $brightblue       {{ color12 }}
set $magenta          {{ color5 }}
set $brightmagenta    {{ color13 }}
set $cyan             {{ color6 }}
set $brightcyan       {{ color14 }}
set $white            {{ color7 }}
set $brightwhite      {{ color15 }}
